services:
    delivery-service:
        build:
            context: .
            dockerfile: Dockerfile
        image: delivery-service
        container_name: delivery-service
        volumes:
            - ./:/app
        ports:
            - "3003:8080"
        environment:
            - NODE_ENV=development
            - PORT=8080
        networks:
            - good-food

    nginx:
        image: nginx:1-alpine
        container_name: delivery-nginx
        volumes:
            - ./nginx.conf:/etc/nginx/nginx.conf
        ports:
            - "8083:80"
        depends_on:
            - delivery-service
        networks:
            - good-food

networks:
    good-food:
        external: true
